.title {
    font-size: 20px;
    font-weight: bold;
    color: #3f3f3f;
    padding-bottom: 45px;
    text-transform: uppercase;
    line-height: 1.5;
}

.text {
    font-size: 20px;
    color: #3f3f3f;
    text-transform: uppercase;
    line-height: 1.5;
}

.button {
    padding: 20px;
    width: 100%;
    background-color: $mainColor;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.5;
}

.map {
    overflow: hidden;
}

@import "./header.scss";
@import "./main.scss";
@import "./footer.scss";
