.border::before {
    content: "";
    position: absolute;
    top: 0;
    left: -20px;
    width: 100vw;
    height: 1px;
    border-top: 1px solid #e5e5e5;
}

.about__title {
    padding-bottom: 40px;
}

.forms {
    display: flex;
    padding: 0 20px 0 20px;
}

.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.yourself {
    width: 100%;
    margin-bottom: 25px;
    position: relative;
}

.yourself__title {
    text-align: center;
    padding: 25px 0 5px;
}

.yourself__item {
    display: flex;
    margin-top: 20px;
}

.yourself__item--text {
    padding-top: 15px;
    font-size: 15px;
    margin-right: 15px;
}

.yourself__input {
    width: 100%;
    outline: none;
    font-size: 15px;
    background: #f1f1f1;
    padding: 20px;
  }
  
.yourself__input::placeholder {
    color: #bbbbbb;
}

.contacts {
    width: 100%;
    margin-bottom: 30px;
    position: relative;
}

.contacts__title {
    text-align: center;
    padding: 25px 0 15px;
    position: relative;
}

.contacts__item {
    margin-top: 20px;
    position: relative;
}

.contacts__item--text {
    padding-top: 15px;
    font-size: 15px;
    margin-right: 15px;
}

.contacts__input {
    width: 100%;
    outline: none;
    font-size: 15px;
    background: #f1f1f1;
    padding: 20px;
  }
  
  .contacts__input::placeholder {
    color: #bbbbbb;
  }

  .contacts__item--phone::after {
      content: "";
      position: absolute;
      right: 20px;
      bottom: 20px;
      width: 18px;
      height: 18px;
      background-image: url("../img/phone.png");
      z-index: 2;
  }

  .contacts__item--phone::before {
    content: "";
    width: 59px;
    height: 59px;
    z-index: 2;
    position: absolute;
    right: 0;
    background-color: #e6e6e6;
}

  .contacts__item--mail::after {
    content: "";
    position: absolute;
    right: 22px;
    bottom: 23px;
    width: 16px;
    height: 12px;
    background-image: url(../img/mail.png);
    z-index: 2;
}

  .contacts__item--mail::before {
    content: "";
    width: 59px;
    height: 59px;
    z-index: 2;
    position: absolute;
    right: 0;
    background-color: #e6e6e6;
}

.impression {
    width: 100%;
    position: relative;
}

.impression__title {
    text-align: center;
    padding: 25px 0 5px;
}

.attractions {
    width: 100%;
    position: relative;
}

.attractions__title {
    padding: 25px 0 0;
    text-align: center;
}

.attraction--items {
    display: block;

}

/* Radio */
.radio {
    position: relative;
    margin-bottom: 45px;
    margin-top: 25px;
    padding-left: 40px;
    padding-top: 15px;
}

.radio__input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.radio__label {
    padding-left: 25px;
    color: #444;
    cursor: pointer;
}

.radio__label::before {
    content: "";
    display: block;
    width: 56px;
    height: 56px;
    background-color: #f1f1f1;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.radio__label::after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background-color: #333333;
    border-radius: 50%;
    opacity: 0;
    position: absolute;
    top: 18px;
    left: 18px;
    z-index: 2;
}

.radio__input:checked + .radio__label::after {
    opacity: 1;
}

/* checkbox */
.checkbox {
    position: relative;
    margin-bottom: 45px;
    margin-top: 25px;
    padding-left: 40px;
    padding-top: 15px;
}

.checkbox__input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.checkbox__label {
    padding-left: 25px;
    color: #444;
    cursor: pointer;
}

.checkbox__label::before {
    content: "";
    display: block;
    width: 56px;
    height: 56px;
    background-color: #f1f1f1;
    border-radius: 20%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.checkbox__label::after {
    content: "";
    display: block;
    width: 24px;
    height: 16px;
    background-image: url(../img/tick.png);
    opacity: 0;
    position: absolute;
    top: 18px;
    left: 18px;
    z-index: 2;
}

.checkbox__input:checked + .checkbox__label::after {
    opacity: 1;
}

.emotion {
    width: 100%;
    margin-bottom: 50px;
    position: relative;
}

.emotion__title {
    text-align: center;
    padding: 25px 0 25px;
    position: relative;
}

.textarea {
    width: 100%;
    height: 160px;
    background-color: #f1f1f1;
    padding: 20px;
    resize: none;
}

.textarea::placeholder {
    color: #444;
    font-size: 16px;
  }

@media (min-width: 768px) {

    .border::after {
        content: "";
        position: absolute;
        height: 1px;
        width: 125px;
        border-bottom: 1px solid #e5e5e5;
        right: 0;
        top: 40px;
    }

    .border::before {
        width: 125px;
        left: 0;
        top: 40px;
    }

    .impression.border::after, .impression.border::before,
    .yourself.border::after, .yourself.border::before {
        all: unset;
    }

    .forms {
        padding: 0 60px 0 60px;
    }

    .yourself {
        order: 2;
        width: 50%;
    }

    .yourself__title {
        text-align: center;
        font-size: 16px;
    }

    .contacts {
        order: 3;
        border-top: none;
    }

    .impression {
        order: 1;
        width: 50%;
        border-top: none;
    }
  
    .attractions {
        order: 4;
        border-top: none;
    }

    .attraction--items {
        display: flex;
        flex-wrap: wrap;
        width: 60%;
        margin: auto;
    }

    .attractions__title {
        position: relative;
        width: 100%;
    }

    .checkbox {
        width: 50%;
    }

    .emotion {
        order: 5;
        border-top: none;
    }
}

@media (min-width: 1200px) {
    .forms {
        padding: 0 120px 0 120px;
    }

    .border::before, .border::after {
        width: 280px;
    }

    .contacts__item {
        display: flex;
    }

    .contacts__items {
        display: flex;
        justify-content: space-around;
    }

    .attraction--items {
        justify-content: space-between;
        width: auto;
    }

    .checkbox {
        width: auto;
    }
}
