
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

@import "./reset.scss";
@import "variables.scss";
@import "./indexPage/index.scss";

body {
    font-family: 'PT Sans';
    font-style: sans-serif;
    background-color: #f1f1f1;
}

.container {
    min-width: 320px;
    max-width: 1200px;
    background-color: white;
    margin: auto;
}
